@model Expenses.Models.ExpenseViewModels.Expense

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Expense</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Created)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Created)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateFor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateFor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Value)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Value)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Paid)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Paid)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PaidDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PaidDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PaidValue)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PaidValue)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IAmPayer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IAmPayer)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Interactor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Interactor.InteractorId)
        </dd>
    </dl>
</div>

<div>
    @foreach (var image in Model.ExpenseImages)
    {
        <img src="data:image/jpeg;base64,@Convert.ToBase64String(image.Image)" />
    }
</div>

<form action="@Url.Action("AddImages")"
      class="dropzone"
      id="my-awesome-dropzone"
      method="post">
    <input type="hidden" name="expenseId" value="@Model.ExpenseId"/>
</form>

<div>
    <a asp-action="Edit" asp-route-id="@Model.ExpenseId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
